body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color:beige;
}
header {
    background-color:#d7cbb5;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.fas {
    color:#5a5a3d;
    margin-right: 8px;
    font-size: 18px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 20px;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color:#5a5a3d;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav ul li a {
    color:#ff660081;
    text-decoration: underline;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-text {
    background-color: rgba(0, 0, 0, 0.132);
    padding: 20px;
    border-radius: 10px;
}
.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.hero-text p {
    font-size: 20px;
    margin: 5px 0;
}
.hero:hover .hero-text {
    transform: scale(1,1);
    transition: transform 0.3s ease-in-out;
}
.hero:hover {
    background-color: rgba(0,0,0,0.6);
    transition: background-color 0.3s ease-in-out;
}
.about {
    background-color: #f5f5dc;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
    color:#5a5a3d;
}
.about h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.about p {
    line-height: 1.6;
}

.menu-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f5e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.menu-section h2 {
    font-size: 24px;
    color:#5a5a3d;
    margin-bottom:10px;
    border-bottom: 2px solid #d7cbb5;
    padding-bottom: 5px;
}
.menu-section ul {
    list-style:none;
    padding: 0;
    margin: 10px 0 20px;
}
.menu-section ul li {
    font-size: 18px;
    margin: 8px 0;
    color: #7a7a52;
    padding: 5px;
    border-bottom: 1px solid #e0e0d1;
}
.menu-section ul li:last-child {
    border-bottom: none;
}

.contact-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f5e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.contact-section h2 {
    font-size: 24px;
    color:#5a5a3d;
    margin-bottom: 10px;
    border-bottom: 2px solid #d7cbb5;
    padding-bottom: 5px;
}
.contact-section p {
    font-size: 18px;
    margin: 10px 0;
    color: #7a7a52;
    line-height: 1.6;
}